.about {
  padding: 70px 0;
  background: url(../../img/backgrounds/aboutUs-background.png) no-repeat center
    center;
  color: $primary-color;

  & .container {
    display: flex;
    justify-content: space-between;
  }

  &__main {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__title {
    padding-bottom: 10px;
    font-size: 38px;
    font-weight: 700;
    border-bottom: 2px solid $secondary-color;
  }

  &__subtitle {
    line-height: 1.4;
  }

  &__text {
    width: 52%;
    text-align: left;
    line-height: 1.4;

    & span {
      color: $secondary-color;
    }
  }
}
