.about {
    padding: 70px 0;
    background: url(../../img/backgrounds/aboutUs-background.png) no-repeat center center;
    color: #2c2c2c;

    & .container {
        width: 60%;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__main {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__title {
        margin-bottom: 30px;
        padding-bottom: 15px;
        font-family: 'Scada', sans-serif;
        font-size: 42px;
        font-weight: 700;
        border-bottom: 2px solid #fbcf00;
    }

    &__subtitle {
        font-family: 'Open Sans', sans-serif;
        text-align: left;
        line-height: 1.4;
    }


    &__text {
        width: 60%;
        font-family: 'Open Sans', sans-serif;
        text-align: left;
        line-height: 1.4;

        & span {
            color: #fbcf00;
        }
    }
}