.benefits {
  padding: 70px 0;
  color: $white-color;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(../../img/backgrounds/benefits.jpg) no-repeat center center;
  background-size: cover;

  & .container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 30px;
    font-size: 38px;
    font-weight: 600;
  }

  &__subtitle {
    margin-bottom: 45px;
    font-size: 20px;
  }

  &__body {
    display: flex;
    justify-content: space-between;
  }

  &__list--left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    width: 47%;
  }

  &__list--right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    width: 47%;
  }

  &__item {
    position: relative;
    padding-left: 65px;
    line-height: 1.4;
  }

  &__item:before {
    content: "";
    position: absolute;
    top: -7px;
    left: 0;
    width: 55px;
    height: 55px;
    background: url(../../img/icons/benefits-marker.svg) no-repeat center center;
    background-size: cover;
  }

  &__item-title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
  }

  &__item-text {
    font-weight: 300;
  }
}
