.header {
  // position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../img/backgrounds/main-background.jpg) no-repeat center center;
  background-size: cover;

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__title {
    max-width: 1000px;
    padding: 20px 0;
    font-size: 60px;
    font-weight: 800;
    line-height: 1.2;
    color: $secondary-color;
    background: url(../../img/backgrounds/title-border.png) no-repeat center top,
      url(../../img/backgrounds/title-border.png) no-repeat center bottom;
  }

  &__text {
    font-size: 27px;
    color: $white-color;

    & span {
      color: $secondary-color;
    }
  }

  &__tel {
    font-size: 34px;
    font-weight: 800;
    color: $white-color;
    transition: 0.3s;

    &:hover {
      color: $secondary-color;
    }
  }

  &__button {
    @include button(220px, 60px, 4px);
  }

  &__button:hover {
    @include buttonHover;
  }
}
