.header {
  // position: relative;
  height: 100vh;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../img/backgrounds/main-background.jpg) no-repeat center center;
  background-size: cover;

  &__title {
    max-width: 1100px;
    margin-bottom: 20px;
    padding: 20px 0;
    font-size: 65px;
    font-weight: 800;
    color: $secondary-color;
    background: url(../../img/backgrounds/title-border.png) no-repeat center top,
      url(../../img/backgrounds/title-border.png) no-repeat center bottom;
  }

  &__main {
    position: absolute;
    top: calc(50% - 85px);
    left: calc(50% - 550px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    margin-bottom: 15px;
    font-size: 30px;
    color: $white-color;

    & span {
      color: $secondary-color;
    }
  }

  &__tel {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 800;
    color: $white-color;
    transition: 0.3s;

    &:hover {
      color: $secondary-color;
    }
  }

  &__button {
    @include button(220px, 60px, 4px);
  }

  &__button:hover {
    @include buttonHover;
  }
}
